@import 'reset';

:root {
  /*colors*/
  --color-yellow: #ffd94d;
  --color-blue-light: #84d2e4;
  --color-blue-dark: #5c84ad;
  --color-pink-dark: #fc8686;
  --color-white: white;
  --animation-length: .5s;

  /*margin*/
  --home-spacer: 15rem;

  /*background style*/
  --background_dotted: {
    background: url(../assets/img/plus_screen.png);
    background-size: 7px;
  }
}

::selection {
  background: #c6e9f1;
}

/*||=============||*/
/*||GENERAL STUFF||*/
/*||=============||*/

@media screen and (width < 900px) {

  html {
    font-size: 50%;
  }
}

@media screen and (width < 740px) {

  html {
    font-size: 30%;
  }
}

@media screen and (width < 500px) {

  .home .header .header_content img {
    display: none;
  }
}

body {
  font-family: 'Hiragino Sans', Arial, sans-serif;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

.center {
  width: 100vw;
  max-width: 940px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.bg_circle {
  position: relative;

  & a,
  & a:hover {
    border: none;
  }

  & .bg_white,
  & .bg_blue {
    position: absolute;
    transition: all .5s;
    animation: rotateCircle 10s linear infinite;
  }

  & .bg_white {
    background: url(../assets/svg/circle_white.svg) no-repeat left top;
  }

  & .bg_blue {
    background: url(../assets/svg/circle_blue.svg) no-repeat left top;
  }
}

.nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;

  & .logo_sign {
    display: inline-block;
    transform: rotate(180deg);
    margin-right: 2rem;
    font-size: 3.5rem;
    transition: transform 1s;
    color: var(--color-blue-light);
    border: none;
    text-decoration: none;

    &:hover {
      transform: rotate(540deg);
      transition: transform 1s;
    }
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .active {
      border-color: var(--color-blue-light);
    }

    & li a {
      color: var(--color-blue-light);
      margin-left: 5rem;
      font-weight: 300;
      text-decoration: none;
      font-size: 2.4rem;
      border-bottom: .3rem solid transparent;

      &:hover {
        border-color: var(--color-blue-light);
      }
    }
  }
}

.footer {
  height: 8rem;
  /*background: url(../assets/img/plus_screen.png);
  background-size: 7px;*/
  @apply --background_dotted;
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-blue-dark);
  display: flex;
  align-items: center;

  & .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
      color: var(--color-blue-dark);
      text-decoration: none;
      transition: all .5s;
      border: none;
      font-size: 2rem;

      &:nth-child(2)::before {
        content: 'woo \\ ';
        visibility: hidden;
      }

      &:nth-child(2)::after {
        content: '\ / hoo';
        visibility: hidden;
      }

      &:hover {
        transition: all .5s;

        &::after,
        &::before {
          visibility: visible;
        }
      }
    }
  }
}

@keyframes rotateCircle {

  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(1.1);

  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}

/*||============||*/
/*||PAGE STYLING||*/
/*||============||*/

/*NOTICE: This CSS is written in a way (with every style related to a page wrapped in a class (.store for example) related to that page) where we can use simple class names and reuse those on different pages, even though the styling might be completly different. That way an element doesn't get multiple styles that overwrite each other. There are some genereal classes though (like the .footer, nav and so on) that have the exact same styling on multiple pages.*/
.home {

  & .header {
    background: var(--color-blue-light);
    background: linear-gradient(to bottom, var(--color-blue-light), #bce9f1);
    width: 100vw;
    height: 120vh;
    min-height: 70rem;
    max-height: 150rem;
    font-family: Rubik;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .logo {
      font-weight: 700;
      font-size: 3rem;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:hover {

        & .logo_sign {
          transform: rotate(540deg);
          transition: transform 1s;
        }
      }
    }

    & .logo_sign {
      display: inline-block;
      transform: rotate(180deg);
      margin-right: 2rem;
      font-size: 5rem;
      transition: transform 1s;
    }

    & .header_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: center;

      & img {
        width: 40rem;
        max-width: 638px;
        left: 0;
        max-height: 100%;
        transform: scaleX(-1) rotate(5deg);
        filter: sepia(1) hue-rotate(145deg);
      }
    }

    & .header_sub_title {
      font-weight: 700;
      font-size: 3.6rem;
      margin-top: 2rem;
      line-height: 5rem;

      & p:nth-child(1) {
        margin-left: calc(1 * 2rem);
      }
    }

    & .header_title {
      font-size: 6.4rem;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 7.4rem;
      margin-left: 3rem;

      & p:nth-child(1) {
        margin-left: calc(5 * 3rem);
      }

      & p:nth-child(2) {
        margin-left: calc(4 * 3rem);
      }

      & p:nth-child(3) {
        margin-left: calc(3 * 3rem);
      }

      & p:nth-child(4) {
        margin-left: calc(2 * 3rem);
      }

      & p:nth-child(5) {
        margin-left: calc(1 * 3rem);
      }
    }

    & .nav {
      font-family: 'Hiragino Sans', Arial;
      font-size: 2.4rem;
      font-weight: 500;
      height: 10rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .bg_circle {
        /*position: relative;*/

        & a,
        & a:hover {
          border: none;
        }

        & .bg_white,
        & .bg_blue {
          background-size: 7.8rem;
          width: 7.8rem;
          height: 7.8rem;
          /*position: absolute;*/
          /*transition: all .5s;*/
          opacity: 0;
          /*animation: rotateCircle 10s linear infinite;*/
        }

        & .bg_white {
          /*background: url(../assets/svg/circle_white.svg) no-repeat left top;*/
          left: 1.3rem;
          top: -1.7rem;
        }

        & .bg_blue {
          /*background: url(../assets/svg/circle_blue.svg) no-repeat left top;*/
          left: 1.4rem;
          top: -1.8rem;
        }

        &:hover .bg_white,
        &:hover .bg_blue {
          opacity: 1;
        }

      }

      & a {
        color: var(--color-white);
        text-decoration: none;
        padding: .5rem;
        display: block;
        border-bottom: 3px solid transparent;
        transition: all .5s;
        position: relative;
        text-align: center;

        &:hover {
          border-color: var(--color-white);
        }
      }

      & .bg_circle:nth-child(2) a {
        font-size: 3rem;
        font-weight: 700;
      }
    }
  }

  & .main {

    & p {
      color: var(--color-blue-dark);
      margin: var(--home-spacer) 0;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 3.4rem;
      text-align: center;

      & span {
        color: var(--color-blue-light);
        display: inline-block;
      }

      & span:nth-child(2)::after {
        content: '';
        background-image: url(../assets/svg/bumpy.svg);
        background-repeat: repeat-x;
        background-size: auto;
        display: block;
        height: 6px;
      }
    }

    & .quote {
      margin-bottom: var(--home-spacer);
      display: flex;
      flex-direction: column;

      & h2 {
        font-family: Rubik;
        font-size: 4.8rem;
        font-weight: 900;
        text-align: center;
        color: var(--color-blue-dark);
        line-height: 5.7rem;
      }

      & a {
        align-self: center;
        text-align: center;
        margin: 2rem 0 auto;
        text-decoration: none;
        color: var(--color-blue-light);
        font-size: 2.4rem;
        font-weight: 800;
        border-bottom: 4px solid transparent;
        transition: all .5s;

        &:hover {
          border-color: var(--color-blue-light);
          transition: all .5s;
        }
      }
    }

    & .sneak_peek {

      font-family: 'Hiragino Sans', Arial;
      font-weight: 800;
      font-size: 2.4rem;
      text-align: center;
      margin-bottom: var(--home-spacer);
      display: flex;
      flex-direction: column;

      & h3 {
        color: var(--color-blue-dark);
        margin-bottom: 1.5rem;
      }

      & a {
        color: var(--color-blue-light);
        text-decoration: none;
        border-bottom: 4px solid transparent;
        transition: all .5s;
        margin-top: 1.5rem;
        align-self: center;

        &:hover {
          border-color: var(--color-blue-light);
          transition: all .5s;
        }
      }

      & .sneak_peek_image_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to bottom, var(--color-blue-light), #bce9f1);
        border-radius: .4rem;
      }

      & .pic {
        width: 15.6rem;
        height: 30rem;
        overflow: hidden;
        position: relative;
        filter: sepia(1) hue-rotate(145deg);
        transition: all .1s;

        &:nth-child(1) img {
          top: -28rem;
          left: -58rem;
        }

        &:nth-child(2) img,
        &:nth-child(3) img {
          top: -8rem;
          left: -63rem;
        }

        &:nth-child(4) img {
          top: -8rem;
          left: -67rem;
        }

        &:nth-child(5) img {
          top: -11rem;
          left: -71rem;
        }

        &:nth-child(6) img {
          top: -8rem;
          left: -69rem;
        }

        & img {
          display: block;
          position: absolute;
          transform: translateZ(0) scale(.3);
          transition: all .5s;
          backface-visibility: hidden;
        }

        &:hover {
          filter: none;
          transition: all .1s;

          & img {
            transform: translateZ(0) scale(.45);
            /*top: 7rem;*/
            /*left: 0;*/
            transition: all .5s;
          }

          &:nth-child(1) img {
            left: -63rem;
          }

          &:nth-child(2) img {
            left: -55rem;
          }

          &:nth-child(3) img {
            transform: translateZ(0) scale(.35);
            left: -61rem;
          }

          &:nth-child(4) img {
            left: -60rem;
          }

          &:nth-child(5) img {
            left: -69rem;
          }

          &:nth-child(6) img {
            left: -65rem;
          }
        }
      }
    }
  }
}

.store {

  & h1 {
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--color-blue-light);
  }

  & h2 {
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--color-blue-dark);
  }

  & h3 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-pink-dark);
  }

  & p {
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-blue-dark);
    line-height: 2.7rem;
  }

  & a {
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--color-pink-dark);
    text-decoration: none;
    border-bottom: .3rem solid transparent;

    &:hover {
      border-color: var(--color-pink-dark);
    }
  }

  & img {
    filter: sepia(.5) hue-rotate(175deg);
    transition: all .1s;

    &:hover {
      filter: none;
      transition: .1s;
    }
  }

  & .price {
    font-family: Rubik;
    font-weight: 500;
    font-size: 2.4rem;
    margin: 3rem 0;
  }

  & .header {

    & h1 {
      margin-top: 1.5rem;
      position: relative;
      z-index: 2;
    }

    & h3 {
      margin-top: 3rem;
    }

    & .most_popular {
      margin-top: -2rem;

      & img {
        /*max-width: 75rem;*/
        max-width: 63rem;
        max-height: 63rem;
        width: auto;
        height: auto;
        position: absolute;
        /*margin-right: -2rem;*/
        margin-top: 8rem;
        margin-left: -8rem;
        z-index: 2;
      }

      & .most_popular_info {
        @apply --background_dotted;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 55rem;
        padding: 5rem 10rem;
        width: 55rem;
        margin-left: 50vh;
        position: relative;

        & h3 {
          margin: 0;
          margin-bottom: 1.5rem;
        }

        & h2 {
          margin-bottom: 3.5rem;
        }

        & a {
          align-self: flex-start;
        }
      }
    }
  }

  & .customizations {
    margin-top: 15rem;

    & .customize_header {
      @apply --background_dotted;

      & h2 {
        font-family: Rubik;
        font-weight: 700;
        font-size: 4rem;
        color: var(--color-blue-light);
        text-align: center;
        padding-top: 3rem;
      }

      & .image-holder {
        height: 32rem;
        width: calc(960 * 6px);
        overflow: hidden;

        & img {
          margin-top: 2rem;
          width: 94rem;
        }

        & img:nth-child(1),
        & img:nth-child(2),
        & img:nth-child(3),
        & img:nth-child(4),
        & img:nth-child(5) {
          filter: sepia(1) hue-rotate(167deg);

          &:hover {
            filter: none;
          }
        }

      }
    }

    & .button-holder {
      display: flex;
      align-items: middle;
      justify-content: space-around;
      margin: 2rem auto 7rem;

      & a {
        color: var(--color-blue-light);
        font-size: 2rem;

        &:hover {
          border-color: var(--color-blue-light);
        }
      }

      & .active {
        border-color: var(--color-blue-light);
      }
    }

    & .customize_info_wrapper {
      display: flex;
      justify-content: space-between;
      max-height: 55rem;
      margin-bottom: 15rem;

      & .package_info {
        flex-direction: column;
        height: 40rem;
        width: 33rem;

        position: relative;

        & h2 {
          margin-bottom: 3rem;
        }

        & a {
          align-self: flex-start;
        }
      }

      & .customize_custom {
        /*align-self: flex-end;*/

        @apply --background_dotted;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 32rem;
        width: 32rem;
        padding: 5rem 5rem 5rem 7rem;
        position: relative;

        & h2 {
          /*margin-bottom: 3.5rem;*/
          color: var(--color-pink-dark);
        }

        & a {
          align-self: flex-start;
          /*margin-top: 3.8rem;*/
        }
      }
    }
  }
}

.faq {

  color: var(--color-blue-dark);

  & .main {

    min-height: 85vh;
    margin: 0 auto 9rem;
    max-width: 70rem;
    line-height: 2.5rem;

    & .wrapper {
      display: flex;
      justify-content: space-around;
    }

    & .bg_circle {

      margin: 7rem auto 10rem;

      & span {
        display: inline-block;
        font-size: 3rem;
        font-weight: 600;
        animation: reverse rotateCircle 200s linear infinite;
      }

      & .bg_blue {
        background-size: 7.8rem;
        width: 7.8rem;
        height: 7.8rem;
        left: -2.9rem;
        top: -2.5rem;
      }
    }

    & h2 {
      @apply --background_dotted;
      font-size: 2.4rem;
      font-weight: 600;
      margin-bottom: 3rem;
      display: inline-block;
      padding: 1.2rem 1rem;
    }

    & p {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 7rem;
    }
  }
}

.message {

  & .main {
    min-height: 85vh;
    margin: 0 auto 9rem;
    max-width: 70rem;
    line-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
      color: var(--color-blue-dark);
      font-weight: 700;
      line-height: 4rem;
      text-align: center;
      background: white;
    }

    & .bg_circle {

      & span {
        display: inline-block;
        font-size: 3rem;
        font-weight: 600;
      }

      & .bg_blue {
        background-size: 20rem;
        width: 20rem;
        height: 20rem;
        left: 25rem;
        top: -6rem;
        z-index: -1;
        animation: rotateCircle 60s linear infinite;
      }
    }
  }
}

.about {

  & a {
    text-decoration: none;
    color: var(--color-blue-light);
  }

  & .main {
    max-width: 62rem;
    color: var(--color-blue-dark);
    line-height: 2.5rem;
    margin: 6rem auto 20rem;
    min-height: 85vh;

    & p {
      font-size: 2rem;
      margin-bottom: 10rem;

      & span {
        font-weight: 600;
      }

      & span:nth-child(2) {
        color: var(--color-blue-light);
      }
    }

    & section {
      margin-bottom: 6rem;
    }

    & h3 {
      margin-bottom: 1.5rem;
    }

    & .location,
    & .ask {

      & img {
        margin-right: 2rem;
        height: 3rem;
      }
    }

    & .ask {

      & img {
        height: 2rem;
      }
    }

    & .message {
      background: var(--color-blue-light);
      background: linear-gradient(to bottom, #c3f4ff, var(--color-white));
      border-radius: .4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      max-height: 50rem;

      & label {
        display: inline-block;
        font-size: 2rem;
        font-weight: 600;
        margin: 3rem 0 1rem;
      }

      & input,
      & textarea {
        display: block;
        border-radius: .4rem;
        border: .3rem solid var(--color-blue-light);
        max-width: 52rem;
        width: 100vh;
        background: transparent;
        color: var(--color-blue-dark);
        font-size: 2rem;
        font-family: 'Hiragino Sans', Arial;

        &[type=email] {
          height: 3.5rem;
        }
      }

      & textarea {
        height: 10rem;
      }

      & button {
        color: var(--color-blue-light);
        font-size: 2rem;
        font-weight: 600;
        background: none;
        border: none;
        font-family: 'Hiragino Sans', Arial;
        cursor: pointer;
      }

      & .wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 7rem;
      }

      & .bg_circle {

        & span {
          display: inline-block;
          font-size: 3rem;
          font-weight: 600;
        }

        & .bg_blue {
          background-size: 8rem;
          width: 8rem;
          height: 8rem;
          left: -.7rem;
          top: -2.2rem;
          pointer-events: none;
          animation: rotateCircle 60s linear infinite;
        }
      }

      & img {
        margin-top: -5rem;
        width: 90rem;
        height: auto;
      }
    }
  }
}
